@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/function.scss';

.about_container {
	max-width: 1440px;
	min-width: 288px;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;

	& .to_catalog {
		width: 100%;
		min-height: 244px;
		min-width: 288px;
		background-image: url('../../assets/images/hero\ image2.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: grid;
		grid-template-rows: repeat(2, 1fr);

		& .about_title {
			color: color(white, light);
			@include heading-sm();
			word-wrap: break-word;
			margin-top: 32px;
			line-height: 1.5;
		}

		& .to_catalog-button {
			color: color(green, darker);
			@include body-sm();
			min-width: 290px;
			height: 52px;
			align-self: end;
			margin: 0 15px 15px;
			border-radius: 15px;
			border: none;
			outline: none;
		}
	}

	& .about_us {
		margin: 56px 16px 0;
		& .about_description {
			& .about_description-title,
			& .about_description-text {
				text-align: center;
			}
			& .about_description-title {
				margin-bottom: 12px;
				color: color(green, darker);
				@include body-lg();
			}
			& .about_description-text {
				color: color(green, darker);
				@include body-sm();
			}
		}

		& .our_advantages {
			margin-top: 30px;
			& .our_advantages-list {
				list-style: none;
				display: grid;
				grid-template-rows: repeat(5, auto);

				& .our_advantages-list-item {
					display: grid;
					grid-template-columns: auto 1fr auto;
					grid-template-rows: repeat(2, auto);

					& .our_advantages-item-number {
						@include heading-lg();
						color: color(green, darker);
						font-weight: 200;
						grid-column: 1/2;
						grid-row: 1/2;
					}
					& .our_advantages-item-title {
						color: color(green, darker);
						@include body-md();
						text-align: start;
						margin-left: 8px;
						word-wrap: break-word;
						grid-column: 2/3;
						grid-row: 1/2;
					}

					& .more_info-box {
						place-self: center;
						grid-column: 3/4;
						grid-row: 1/2;
					}

					& .additional_information {
						grid-column: 1/4;
						grid-row: 2/3;
						list-style: disc;
						margin-top: 8px;
						transition: all 0.8s ease-in-out;

						& .list-item {
							margin-left: 16px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 576px) and (max-width: 767.999px) {
	.about_container {
		& .catalog {
			display: grid;
			& .catalog_offers-cards {
				display: grid;
				grid-template-columns: 1fr auto;
				grid-template-rows: 1fr auto;
				gap: 10px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991.999px) {
	.about_container {
		& .catalog {
			display: grid;
			& .catalog_offers-cards {
				display: grid;
				grid-template-columns: 1fr auto;
				grid-template-rows: 1fr auto;
				gap: 10px;
			}
		}
		& .our_advantages {
			& .our_advantages-list {
				& .our_advantages-list-item {
					display: grid;
					grid-template-columns: auto auto;
					grid-template-rows: 1fr 1fr;
					margin-bottom: 24px;

					& .our_advantages-item-number {
						@include heading-lg();
						grid-column: 1/2;
						grid-row: 1/2;
					}
					& .our_advantages-item-title {
						color: color(green, darker);
						@include body-md();
						align-self: end;
						margin-left: 8px;
						word-wrap: break-word;
						grid-column: 2/3;
						grid-row: 1/2;
					}

					& .more_info-box {
						display: none;
					}

					& .additional_information {
						grid-column: 1/3;
						grid-row: 2/3;
						list-style: disc;
						margin-top: 8px;
						border-top: 1px solid #0a2308;
						padding-top: 10px;
						& .list-item {
							margin-left: 16px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1200.999px) {
	.about_container {
		& .catalog {
			display: grid;
			& .catalog_offers-cards {
				display: grid;
				grid-template-columns: 1fr auto;
				grid-template-rows: 1fr auto;
				gap: 10px;
			}
		}
		& .our_advantages {
			& .our_advantages-list {
				& .our_advantages-list-item {
					display: grid;
					grid-template-columns: auto auto;
					grid-template-rows: 1fr 1fr;
					margin-bottom: 24px;

					& .our_advantages-item-number {
						@include heading-lg();
						grid-column: 1/2;
						grid-row: 1/2;
					}
					& .our_advantages-item-title {
						color: color(green, darker);
						@include body-md();
						align-self: end;
						margin-left: 8px;
						word-wrap: break-word;
						grid-column: 2/3;
						grid-row: 1/2;
					}

					& .additional_information {
						grid-column: 1/3;
						grid-row: 2/3;
						list-style: disc;
						margin-top: 8px;
						border-top: 1px solid #0a2308;
						padding-top: 10px;
						& .list-item {
							margin-left: 16px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1201px) and (max-width: 1440.999px) {
	.about_container {
		& .catalog {
			display: grid;
			& .catalog_offers-cards {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;
			}
		}
		& .our_advantages {
			& .our_advantages-list {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(5, 1fr);
				& .our_advantages-list-item {
					display: grid;
					grid-template-columns: auto auto;
					grid-template-rows: 1fr 1fr;
					margin-bottom: 24px;
					&:nth-child(even) {
						grid-column: 2/3;
					}
					&:nth-child(odd) {
						grid-column: 1/2;
					}
					&:nth-child(1) {
						grid-row: 1/2;
					}
					&:nth-child(2) {
						grid-row: 2/3;
					}
					&:nth-child(3) {
						grid-row: 3/4;
					}
					&:nth-child(4) {
						grid-row: 4/5;
					}
					&:nth-child(5) {
						grid-row: 5/6;
					}
					& .our_advantages-item-number {
						@include heading-lg();
						grid-column: 1/2;
						grid-row: 1/2;
					}
					& .our_advantages-item-title {
						color: color(green, darker);
						@include body-md();
						align-self: end;
						margin-left: 8px;
						word-wrap: break-word;
						grid-column: 2/3;
						grid-row: 1/2;
					}

					& .additional_information {
						grid-column: 1/3;
						grid-row: 2/3;
						list-style: disc;
						margin-top: 8px;
						border-top: 1px solid #0a2308;
						padding-top: 10px;
						& .list-item {
							margin-left: 16px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1441px) {
	.about_container {
		& .catalog {
			display: grid;
			& .catalog_offers-cards {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;
			}
		}
		& .our_advantages {
			& .our_advantages-list {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(5, 1fr);
				& .our_advantages-list-item {
					display: grid;
					grid-template-columns: auto auto;
					grid-template-rows: 1fr 1fr;
					margin-bottom: 24px;
					&:nth-child(even) {
						grid-column: 2/3;
					}
					&:nth-child(odd) {
						grid-column: 1/2;
					}
					&:nth-child(1) {
						grid-row: 1/2;
					}
					&:nth-child(2) {
						grid-row: 2/3;
					}
					&:nth-child(3) {
						grid-row: 3/4;
					}
					&:nth-child(4) {
						grid-row: 4/5;
					}
					&:nth-child(5) {
						grid-row: 5/6;
					}
					& .our_advantages-item-number {
						@include heading-lg();
						grid-column: 1/2;
						grid-row: 1/2;
					}
					& .our_advantages-item-title {
						color: color(green, darker);
						@include body-md();
						align-self: end;
						margin-left: 8px;
						word-wrap: break-word;
						grid-column: 2/3;
						grid-row: 1/2;
					}

					& .additional_information {
						grid-column: 1/3;
						grid-row: 2/3;
						list-style: disc;
						margin-top: 8px;
						border-top: 1px solid #0a2308;
						padding-top: 10px;
						& .list-item {
							margin-left: 16px;
						}
					}
				}
			}
		}
	}
}
