@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/function.scss';

.about_container {
	height: 100%;
	min-width: 288px;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;

	& .to_catalog {
		width: 100%;
		min-height: 244px;
		min-width: 288px;
		background-image: url('../../assets/images/hero\ image2.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: grid;
		grid-template-rows: repeat(2, 1fr);

		& .about_title {
			color: color(white, light);
			@include heading-sm();
			word-wrap: break-word;
			margin-top: 32px;
			line-height: 1.5;
		}

		& .to_catalog-button {
			min-width: 290px;
			height: 52px;
			align-self: end;
			margin: 0 15px 15px;
			border-radius: 15px;
			border: none;
			outline: none;
		}
	}

	& .about_us {
		margin: 56px 16px 0;
		& .about_description {
			& .about_description-title,
			& .about_description-text {
				text-align: center;
			}
			& .about_description-title {
				margin-bottom: 12px;
			}
		}

		& .our_advantages {
			margin-top: 30px;
			& .our_advantages-list {
				list-style: none;
				display: grid;
				grid-template-rows: repeat(5, 65px);
				& .our_advantages-list-item {
					display: grid;
					grid-template-columns: auto 1fr auto;

					& .our_advantages-item-number {
						font-size: 48px;
					}
					& .our_advantages-item-title {
						text-align: start;
						align-self: center;
						margin-left: 8px;
						word-wrap: break-word;
					}

					& .more_info-box {
						place-self: center;
					}
				}
			}
		}
	}
}
