.header {
	position: relative;
	max-width: 1440px;
	min-width: 320px;
	width: 100%;
	height: 80px;
	padding: 0;
	display: grid;
	place-items: space-between;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	background-color: #fdfdfd;

	& .logo {
		height: 80px;
		display: flex;
		align-items: center;
		margin-left: 16px;

		& .logo_icon {
			height: 59px;
			width: 66px;
		}
	}

	.toggle_menu {
		height: 80px;
		margin-right: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		& .toggle_menu-line {
			display: block;
			width: 35px;
			height: 5px;
			margin: 3px 0px;
			border-radius: 25px;
			transform-origin: center;
			transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease;

			&:first-child {
				background-color: #00aeef;
			}
			&:nth-child(2) {
				background-color: #fdd835;
				width: 17.5px;
			}
			&:nth-child(3) {
				background-color: #8bc34a;
			}
		}

		&.open {
			& .toggle_menu-line:nth-child(2) {
				transform: translateX(-17.5px);
			}
		}
	}

	& .navigation {
		display: flex;
		align-items: center;

		& .nav_menu {
			width: 100%;
			& .nav_list {
				list-style: none;
				display: flex;
				justify-content: space-evenly;

				& .nav_list-item {
					color: #000000;
				}
			}
		}
	}
	& .user_panel {
		display: flex;
		justify-content: center;
		align-items: center;

		& .user_panel-icons {
			margin-right: 20px;
			& :first-child {
				margin-right: 20px;
			}
		}
		& .user_panel-login {
			width: 100px;
			height: 40px;
			background-color: #1d6517;
			border-radius: 15px;
			border: none;
			outline: none;
			& .login_link {
				color: #ffffff;
				text-align: center;
				border: none;
				outline: none;
				font-weight: 400;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
			&:hover {
				background-color: #1a5b15;
			}
		}
	}

	& .burger_menu-container {
		position: absolute;
		top: 80px;
		display: flex;
		flex-direction: column;
		margin: 20px auto;
		z-index: 999;
	}
}
@media screen and (max-width: 575.999px) {
	.header {
		grid-template-columns: repeat(2, 1fr);

		& .logo {
			display: flex;

			& .logo_icon {
				height: 49px;
				width: 50px;
			}
		}
		& .navigation {
			display: none;
		}

		& .user_panel {
			display: none;
		}
		& .toggle_menu {
			display: flex;
			align-items: flex-end;
			cursor: pointer;
		
		}
		& .burger_menu-container {
			display: flex;
			align-items: center;
			grid-column: 1/3;
			width: 100%;
			margin: 20px auto;
			z-index: 999;
			& .burger_menu {
				& .burger_menu-list {
					& .nav_list-item {
						list-style: none;
						margin-top: 20px;
						font-size: 14px;
						font-weight: 400;
						color: #ffffff;
					}

					& .nav_list-item:first-child {
						margin-top: 5.5px;
					}
					& .nav_list-item:last-child {
						margin-bottom: 5.5px;
					}
				}
			}
			& .burger_menu__user-panel {
				margin-top: 20px;
				min-width: 220px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				& .burger-menu__icons {
					display: flex;
					justify-content: space-between;

					& :first-child {
						margin-right: 20px;
					}
				}
				& .user_panel-login {
					& .login_link {
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 576px) and (max-width: 767.999px) {
	.header {
		grid-template-columns: repeat(2, 1fr);

		& .navigation {
			display: none;
		}

		& .user_panel {
			display: none;
		}
		& .toggle_menu {
			display: flex;
			align-items: flex-end;
			cursor: pointer;
		}
		& .burger_menu-container {
			display: flex;
			align-items: center;
			grid-column: 1/3;
			width: 100%;
			margin: 20px auto;
			z-index: 999;

			& .nav_menu {
				& .burger_menu-list {
					& .nav_list-item {
						list-style: none;
						margin-top: 20px;
						font-size: 16px;
						font-weight: 400;
					}

					& .nav_list-item:first-child {
						margin-top: 5.5px;
					}
					& .nav_list-item:last-child {
						margin-bottom: 5.5px;
					}
				}
			}
			& .burger_menu__user-panel {
				margin-top: 20px;
				min-width: 220px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				& .burger-menu__icons {
					display: flex;
					justify-content: space-between;

					& :first-child {
						margin-right: 20px;
					}
				}
				& .user_panel-login {
					& .login_link {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991.999px) {
	.header {
		align-content: center;

		& .navigation {
			& .nav_list-item {
				font-size: 18px;
			}
		}

		& .toggle_menu {
			display: none;
		}
		& .burger_menu-container {
			display: none;
		}
		& .user_panel {
			margin-right: 16px;
			& .user_panel-login {
				& .login_link {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1200.999px) {
	.header {
		grid-template-columns: 1fr 2.5fr 1fr;

		& .navigation {
			& .nav_list-item {
				font-size: 18px;
			}
		}

		& .toggle_menu {
			display: none;
		}
		& .burger_menu-container {
			display: none;
		}
		& .user_panel {
			& .user_panel-login {
				& .login_link {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (min-width: 1201px) and (max-width: 1440.999px) {
	.header {
		grid-template-columns: 1fr 3fr 1fr;
		& .navigation {
			& .nav_list-item {
				font-size: 22px;
			}
		}

		& .toggle_menu {
			display: none;
		}
		& .burger_menu-container {
			display: none;
		}
		& .user_panel {
			& .user_panel-login {
				width: 120px;
				height: 40px;
				& .login_link {
					font-size: 18px;
				}
			}
		}
	}
}
@media screen and (min-width: 1401px) {
	.header {
		grid-template-columns: 1fr 3fr 1fr;
			margin: 0px auto;
		& .navigation {
			& .nav_list-item {
				font-size: 22px;
			}
		}

		& .toggle_menu {
			display: none;
		}
		& .burger_menu-container {
			display: none;
		}
		& .user_panel {
			& .user_panel-login {
				width: 120px;
				height: 40px;
				& .login_link {
					font-size: 20px;
				}
			}
		}
	}
}
