$colors: (
  green: (
    light: #e8f0e8,
    light-hover: #d8e8dc,
    light-active: #b9cfb7,
    normal: #1d6517,
    normal-hover: #1a5b15,
    normal-active: #175112,
    dark: #164c11,
    dark-hover: #113d0e,
    dark-active: #0d2d0a,
    darker: #0a2308
  ),
  white: (
    light: #fdfdfd,
    light-hover: #fbfbfb,
    light-active: #f7f7f7,
    normal: #e6e6e6,
    normal-hover: #cfcfcf,
    normal-active: #b8b8b8,
    dark: #adadad,
    dark-hover: #8a8a8a,
    dark-active: #676767,
    darker: #515151
  )
);
