@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/function.scss';
@import '../../../styles/colors.scss';

.product_carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}
.carousel_inner {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

//         height: 32px;
//         margin-top: 8px;
//     }