@import '../../styles/colors.scss';
@import '../../styles/function.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.footer {
	width: 100%;
	max-width: 1440px;
	min-width: 320px;
	background-color: color(green, darker);
	margin: 0 auto;

	& .footer_container {
		padding: 16px;
		display: grid;
		grid-template-rows: auto 1fr auto;

		& .logo {
			place-self: center;
		}

		& .navigation {
			border: 1px solid red;
			display: grid;
			grid-template-rows: 1fr auto auto;
			justify-content: center;
			margin-bottom: 25px;


			& .catalog_container {
				& .catalog_title {
					@include body-md();
					color: color(green, light);
					margin-bottom: 10px;
				}

				& .catalog_list {
					@include body-sm();
					color: color(green, light);
					list-style: none;
					display: flex;
					flex-direction: column;
					align-items: center;

					& .catalog_item {
						line-height: 2.0;
					}
				}
			}

			& .catalog_container,
			& .about_container,
			& .contact_container {
				justify-self: center;
				padding-top: 16px;
			}

			& .contact_title,
			& .about_title {
				@include body-md();
				color: color(green, light);
			}
		}

		& .copyright {
			justify-self: center;
			display: flex;
			align-items: center;

			& .copyright_text {
				@include body-sm();
				color: color(green, light);
				margin-left: 7px;
			}
		}
	}
}

@media screen and (min-width: 576px) and (max-width: 767.999px) {
	.footer {
		& .footer_container {
			& .navigation {
				& .catalog_container {
					& .catalog_title {
						@include body-md();
						color: color(green, light);
					}

					& .catalog_list {
						@include body-sm();
						color: color(green, light);
					}
				}

				& .contact_title,
				& .about_title {
					@include body-md();
					color: color(green, light);
				}
			}

			& .copy_icon {
				width: 9px;
				height: 9px;
			}
			& .copyright_text {
				@include body-xs();
				color: color(green, light);
				margin-left: 7px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991.999px) {
	.footer {
		& .footer_container {
			& .navigation {
				& .catalog_container {
					& .catalog_title {
						@include body-lg();
						color: color(green, light);
					}

					& .catalog_list {
						@include body-md();
						color: color(green, light);
					}
				}

				& .contact_title,
				& .about_title {
					@include body-lg();
					color: color(green, light);
				}
			}

			& .copy_icon {
				width: 12px;
				height: 12px;
			}
			& .copyright_text {
				@include body-sm();
				color: color(green, light);
				margin-left: 7px;
			}
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1200.999px) {
	.footer {
		& .footer_container {
			& .navigation {
				& .catalog_container {
					& .catalog_title {
						@include body-lg();
						color: color(green, light);
					}

					& .catalog_list {
						@include body-md();
						color: color(green, light);
					}
				}

				& .contact_title,
				& .about_title {
					@include body-lg();
					color: color(green, light);
				}
			}

			& .copyright_text {
				@include body-sm();
				color: color(green, light);
				margin-left: 7px;
			}
		}
	}
}

@media screen and (min-width: 1201px) and (max-width: 1440.999px) {
	.footer {
		& .footer_container {
			& .navigation {
				& .catalog_container {
					& .catalog_title {
						@include heading-sm();
						color: color(green, light);
					}

					& .catalog_list {
						@include body-lg();
						color: color(green, light);
					}
				}

				& .contact_title,
				& .about_title {
					@include heading-sm();
					color: color(green, light);
				}
			}

			& .copyright_text {
				@include body-sm();
				color: color(green, light);
			}
		}
	}
}
@media screen and (min-width: 1401px) {
	.footer {
		& .footer_container {
			& .navigation {
				& .catalog_container {
					& .catalog_title {
						@include heading-sm();
						color: color(green, light);
					}

					& .catalog_list {
						@include body-lg();
						color: color(green, light);
					}
				}

				& .contact_title,
				& .about_title {
					@include heading-sm();
					color: color(green, light);
				}
			}

			& .copyright_text {
				@include body-sm();
				color: color(green, light);
			}
		}
	}
}
