@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/function.scss';
@import '../../styles/colors.scss';


.wrapper_register-form {
	width: 100%;
	height: 100dvh;
	background-image: url('../../assets/images/form-\ image.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	& .register_form-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		gap: 0px;
		background-color: color(white, light);

		& .register_icon {
			margin: 16px auto;
		}

		& .register_form-head {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& .register_title {
				@include heading-sm();
				color: color(green, darker);
				line-height: 1;
				letter-spacing: 0;
				text-align: center;
				margin-bottom: 20px;
			}
		}

		& .register_form {
			display: grid;
			grid-template-columns: 1fr;
			margin-bottom: 26px;

			& .input_box {
				display: grid;
				grid-template-columns: 1fr;
				gap: 10px;
				margin-bottom: 13px;
				margin-inline: 25px;

				& .input_field {
					min-width: 264px;
					height: 45px;
					padding-left: 17px;
					border-radius: 15px;
					border: 1px solid color( green, darker);
					outline: none;
					background-color: transparent;

					&::placeholder {
						color: color(white, darker);
						@include body-sm();
						line-height: 1;
						letter-spacing: 0;

					}
				}
				& .password_box {
					position: relative;

					& .show_password_button {
						width: 16px;
						height: 18px;
						position: absolute;
						top: 50%;
						right: 16px;
						transform: translateY(-50%);
						cursor: pointer;
						background: url('/images/closeEye.svg') no-repeat center;
						border: none;
						outline: none;
					}
					& .close_password_button {
						width: 16px;
						height: 18px;
						position: absolute;
						top: 50%;
						right: 16px;
						transform: translateY(-50%);
						cursor: pointer;
						background: url('/images/openEye.svg') no-repeat center;
						border: none;
						outline: none;
					}
				}
			}

				& .checkbox_container {
					display: flex;
					flex-direction: row;

					& .checkbox_field {
						cursor: pointer;
						margin-right: 10px;
						width: 15px;
						height: 15px;
						outline: none;
						border-color: #ffffff;
						background-color: transparent;
					}

					& span {
						@include body-sm();
						color: color(green, darker);
						line-height: 1;
					}
				}
			& .submit_button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				height: 26px;
				margin-top: 32px;
				padding: 16px 0;
				margin-inline: 25px;
				background-color: color(green, darker);
				border-radius: 15px;
				color: color(white, light);
				font-size: 15px;
				font-weight: 600;
				cursor: pointer;

				&:hover {
					background-color: #8bc34a;
					color: #ffffff;
					border: none;
					outline: none;
				}
			}
		}

		& .login_redirect {
			text-align: center;
			line-height: 1;
			@include body-sm();
			color: color(green, darker);
			margin-bottom: 16px;
			& .login_redirect-link {
				margin-left:8px;
				cursor: pointer;
				color: color(green, normal-hover)
			}
		}
		& .error_message {
			display: block;
			color: #db4848;
			font-size: 14px;
			line-height: 1;
			margin-block: 7px;
		}
	}
}

@media screen and (max-width: 575px) {
	.wrapper_register-form {
		max-width: 320px;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.wrapper_register-form {
		max-width: 430px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper_register-form {
		max-width: 430px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper_register-form {
		max-width: 430px;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
	.wrapper_register-form {
		max-width: 430px;
	}
}

@media screen and (min-width: 1441px) {
	.wrapper_register-form {
		max-width: 430px;
	}
}
