.main_page {
	max-width: 1440px;
	min-width: 320px;
	width: 100%;
	margin: 0px auto;
	padding: 0;
	// background-color: #ffffff;
	border: 1px solid white;
	padding: 10px;

	& .hero_section{}

	& .catalog_offers_section{
		& .catalog_offers-container {
			margin: 0 16px;
			border: 1px solid yellow;
		}
	}
}