@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/function.scss';
@import '../../../styles/colors.scss';

.favorite_products {
    display: flex;
    align-items: center;
    flex-direction: column;
    &-arrow {
        display: flex;
        justify-content: center;
        gap: 11px;
        height: 32px;
        margin-top: 8px;
    }
}
.product_cards {
    display: flex;
}
