@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/function.scss';
@import '../../../styles/colors.scss';


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 100%;
 margin-top: 24px;

  &_title {
    @include body-md();
      }

  &_arrow {
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: transform 0.3s ease;
    }

    &.active img {
      transform: rotate(180deg); 
    }
  }

  &_content {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeIn 0.3s ease;
    h3 {
        @include body-sm();
        margin-bottom: 12px;

    }

    p {
        @include body-xs();
        margin-bottom: 16px;
    }
  }
}
.information_title-box {
   width: 288px;
   height: 44px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 24px;
   margin-bottom: 56px;
   &.open {
    margin-bottom: 32px;
   }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

